@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif; 
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

* {
  font-family: 'Inter';
}

b {
  @apply text-gray-900 font-semibold;
}

.trigger {
  @apply cursor-pointer;
}

.trigger:hover {
  @apply underline decoration-dashed;
}